.center{
text-align: center;
font-size: xx-large;
}

.red-color{
    color: red;
    font-size: larger;
}

.green-color{
    color: green;
    font-size: larger;
}

.blue-color{
    color: blue;
    font-size: larger;
}